fastapi==0.110.0
uvicorn[standard]==0.27.1
python-multipart==0.0.9
pydantic==2.6.4
supabase==2.3.4

# --- Core compat ---
numpy==1.26.4

# --- InsightFace stack ---
insightface==0.7.3

# onnxruntime: bajar a una build que no pide execstack en Fly
onnxruntime==1.15.1

# (si lo estás usando)
opencv-python-headless==4.9.0.80
Pillow==10.2.0
scikit-learn==1.4.1.post1

